body{
    height: 100%;
    background-color: #111111;
}

body::after {
    content: "";
    background: url("../../../public/space-bg.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.container {
    background-color: hwb(0 11% 88% / 0.65);
    border-radius: 0.45rem;
}

/* Landing Page */

.subtitle {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    margin-top: 4rem;
}

.hr-main {
    width: 86%;
    margin: 0 auto;
    margin-top: 0.8rem;
}

.subtitle:hover {
    cursor: default;
}

.container-main {
    margin-top: 8%;
    width: 22%;
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.btn {
    width:fit-content;
    margin: 0 auto;
    color: #f6f6f6;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.reservations-btn {
    margin-top: 3rem;
    border-color: #f6f6f646;
}

.reservations-btn:hover {
    background-color: #312f2f80;
}

.planets-btn {
    margin-top: 4rem;
    border-color: #f6f6f646;
}

.planets-btn:hover {
    background-color: #312f2f80;
}

.success-toast:not(.show) {
    display: block;
}

.success-toast{
    margin: 0 auto;
    background-color: #3378b8;
    padding: 0.2rem;
    text-align: center;
    margin-bottom: 15%;
}

/* Reservations Page */

.container-reservations {
    padding-bottom: 2rem;
}

/* Planets Page */

.container-routes {
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 2rem;
}

.container-planets {
    width: 90%;
    margin: 0 auto;
    margin-top: 7%;
}

.subtitle-traveling-from {
    margin-bottom: 0.6rem;
}

.subtitle-traveling-to {
    margin-top: 0;
}
.subtitle-routes {
    margin-bottom: 0;
    font-size:1.25rem;
    font-style: italic;
}

.disabled-title {
    color:#7e7e7e;
}

.hidden {
    opacity: 0%;
}

.hiddenOut {
    transition: fadeOut 2s;
    -webkit-animation: fadeOut 2s;
    -moz-animation: fadeOut 2s;
    -o-animation: fadeOut 2s;
    -ms-animation: fadeOut 2s;
}

.visibleIn {
    transition: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.col-planet {
    position: relative;
    height: 270px; 
}

.planet-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

.row-planets {
    align-items: center;
}

.planet {
    display: flex;
    justify-content: center;
}

.img-planet:hover {
    cursor: pointer;
}

.img-mercury {
    width: 55px;
    margin-top: 60%;
}

.img-venus {
    width: 75px;
    margin-top: 56%;
}

.img-earth {
    width: 80px;
    margin-top: 44%;
}

.img-mars {
    width: 65px;
    margin-top: 65%;
}

.img-jupiter {
    width: 150px;
    margin-top: 10%;
}

.img-saturn {
    width: 250px;
}

.img-uranus {
    width: 90px;
    margin-top: 30%;
}

.img-neptune {
    width: 90px;
    margin-top: 20%;
}

.selected {
    border: 1px solid #f6f6f6;
}

.disabled:hover {
    cursor: not-allowed;
}

.btn-confirm {
    margin-left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid #f6f6f6;
}

.disabled {
    opacity: 50%;
    border: 0;
}

/* Pricelist Page */

.container-pricelist {
    padding-bottom: 1.2rem;
    margin-bottom: 10%;
}

hr {    
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.row-titles  {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.row-content {
    padding-top: 0.5rem;
}

.row-content-p {
    margin-bottom: 0;
    padding-top: 0.5rem;
}

.btn-pricelist {
    background: #312f2fbe;
    color: #f6f6f6;
    padding: 0.5rem;
    font-size: 1rem;
}

.subtitle-row {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    color: #a3a2a2;
}

.pricelist-title {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.pricelist-title:hover {
    color: white;
    cursor: pointer;
}

/* Reservation Modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #141414;
    margin: auto;
    padding: 20px;
    border: 1px solid #f6f6f6;
    width: 60%;
}

.modal-content input[type="text"] {
    box-sizing: border-box;
	outline: none;
	display: block;
	width: 40%;
    margin: 0 auto;
	padding: 2px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	height: 3rem;
    color: #f6f6f6;
    margin-top: 0.5rem;
}

.modal-content input[type="text"]:focus {
    border-bottom: 1px solid #3378b8;
    background-color: #f6f6f615;
}

.btn-modal {
    display: block;
    background: #312f2fbe;
    color: #f6f6f6;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.close {
    color: #f6f6f6;
    margin-left: 96%;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.subtitle-modal {
    margin-top: 0;
}

.error-message {
    color: #cc1010;
    width: 40%;
    margin: 0 auto;
    font-size: 0.9rem;
    font-style: italic;
}